cryptography
ops
pyroute2
netifaces
jsonschema
tenacity
jinja2
requests<2.32 # https://github.com/psf/requests/issues/6707 (similar issue with http+unix)
git+https://opendev.org/openstack/sunbeam-charms/#egg=ops-sunbeam&subdirectory=ops-sunbeam

# Used for communication with snapd socket
requests-unixsocket # Apache 2
urllib3<2 # https://github.com/psf/requests/issues/6432

