# This file is managed centrally by release-tools and should not be modified
# within individual charm repos.  See the 'global' dir contents for available
# choices of *requirements.txt files for OpenStack Charms:
#     https://github.com/openstack-charmers/release-tools
#

coverage
mock
flake8
stestr
ops<3
pydantic < 2
cosl==0.0.55

git+https://github.com/canonical/ceph-charms#egg=charms_ceph&subdirectory=charms.ceph
